@font-face {
    font-family: Oswald;
    font-weight: bold;
    src:
        url(../../fonts/Oswald-Bold.woff2) format(woff2),
        url(../../fonts/Oswald-Bold.woff) format(woff),
        url(../../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src:
        url(../../fonts/Oswald-Regular.woff2) format(woff2),
        url(../../fonts/Oswald-Regular.woff) format(woff),
        url(../../fonts/Oswald-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
        url(../../fonts/Inter-Regular.woff2) format(woff2),
        url(../../fonts/Inter-Regular.woff) format(woff),
        url(../../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../../fonts/Inter-Bold.woff2) format(woff2),
    url(../../fonts/Inter-Bold.woff) format(woff),
    url(../../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

.no-js {
    display: none;
}

.narrow {
    max-width: min(100vw - 4rem, 900px);
    margin-inline: auto;
}

.medium {
    margin-inline: auto;
    max-width: min(100vw - 4rem, 1100px);
}

.wide {
    margin-inline: auto;
    max-width: min(100vw - 4rem, 1400px);
}

.text-centered {
    text-align: center;
}

h1,
h2 {
    font-family: Oswald;
    font-weight: bold;
}

h1 {
    font-size: clamp(40px, 6vw, 95px);
    font-size: 8rem;
}

h2 {
    font-size: 36px;
    color: var(--txt-main-color);
}

h3 {
    font-size: 20px;
}

blockquote {
    border-left: 5px solid lightgrey;
    background-color: rgb(250,250,250);
    padding-left: 1rem;
    margin-left: 0;
}

section + section {
    margin-block: 4rem;
}

.hero-banner {
    font-family: Oswald;
    font-weight: normal;
    color: white;
    padding-block: 2rem;
    background: url(/images/Compressed/7DTD-Fighting-1920x1080.webp) center/cover no-repeat;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.hero-filter {
    backdrop-filter: blur(1px);
}

.hero-title {
    padding-block: 10rem;
    text-shadow:
        1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        -1px 1px 0 black;
}

.hero-title>* {
    margin-block: 5px;
}

.hero-title p {
    font-size: max(2rem, 18px);
    font-weight: bold;
    font-family: Inter;
    color: var(--txt-main-color);
}

.mod-infos {
    padding-block: 1.5rem;
    background-color: rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 700px) {
    .mod-infos-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }  
}

.mod-infos p {
    font-size: max(1.5rem,20px);
    margin-block: 0;
}

.mod-infos span {
    color: var(--txt-secondary-color);
    font-weight: bold;
}

#difficulty-calculator {
    border: 1px double lightgrey;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(240,240,240);
}

#difficulty-calculator > * + * {
    margin-top: 2rem;
}

.selector-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.selector {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.selector:first-of-type {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
}

.selector input:invalid {
    background-color: yellow;
}

.selector-container select {
    padding-block: 0.4rem;
    font-size: 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
}


.selector-container input {
    padding-block: 0.2rem;
    font-size: 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#validate-button {
    display: block;
    margin-inline: auto;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    border: 2px solid lightgrey;
    cursor: pointer;
    transition: background-color 350ms;
}

#validate-button:hover {
    background-color: white;
}

.calculator-output {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.output-numbers {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.output-numbers > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.output-number {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    color: var(--txt-secondary-color);
    font-weight: bold;
}

.emoji {
    font-size: 1.5rem;
}

#output-table table {
    margin-inline: auto;
    /* border: 2px solid grey; */
}

#output-table thead {
    background-color: black;
    color: white;
    text-align: center;
}

#output-table tbody {
    background-color: white;
    /* color: white; */
}

#output-table td,
#output-table th {
    border: 1px solid grey;
    padding: 1rem;
}

#output-table td {
    text-align: center;
}