/* Following lines are used in a media query. See "media" attribute in the "link" tag of the main HTML document */

/* @media (screen and (max-width: 800px)  */

.nav-links:focus-within .burger-line:nth-child(1) {
    transform: translateY(calc(100% + var(--hamburger-gap))) rotate(225deg);
}
.nav-links:focus-within .burger-line:nth-child(2) {
    opacity: 0;
}
.nav-links:focus-within .burger-line:nth-child(3) {
    transform: translateY(calc(-100% - var(--hamburger-gap))) rotate(-225deg);
}

.nav-links:focus-within ul {
    opacity: 1; 
}

.nav-links:focus-within li {
    background-color: white;
    padding: 0.5rem 0.2rem;
}

.nav-links:focus-within a {
    color: black;
}