/* Following lines are used in a media query. See "media" attribute in the "link" tag of the main HTML document */

/* @media (screen and (max-width: 800px)  */

/* :where is used to avoid raising the specificity too much */

body:where([data-javascript-enabled="false"]) .hamburger {
    display: none;
}



body:where([data-javascript-enabled="true"]) .hamburger {
    display: grid;
}

body:where([data-javascript-enabled="true"]) .hamburger {
    position: relative;
    z-index: 9999;
    --hamburger-gap: 4px;
    grid-template-rows: repeat(3,1fr);
    gap: var(--hamburger-gap);
}

body:where([data-javascript-enabled="true"]) .burger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: opacity 400ms, transform 600ms ease-out;
}

body:where([data-javascript-enabled="true"]) button:where([data-expanded="true"]) .burger-line:first-child {
    transform: translateY(calc(3px + var(--hamburger-gap))) rotate(225deg);
}

body:where([data-javascript-enabled="true"]) button:where([data-expanded="true"]) .burger-line:nth-child(2) {
    opacity: 0;
}

body:where([data-javascript-enabled="true"]) button:where([data-expanded="true"]) .burger-line:last-child {
    transform: translateY(calc(-3px - var(--hamburger-gap))) rotate(-225deg);
}

body:where([data-javascript-enabled="true"]) .nav-links ul {
    position: absolute;
    text-align: center;
    padding: 6rem 3rem 2rem 3rem;
    inset: 0 0 50% 0%;
    justify-content: space-around;
    margin-block: 0;
    background-color: rgba(0,0,0, 0.9);
    flex-direction: column;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 500ms ease-in-out 10ms;
}

body:where([data-javascript-enabled="true"]) .nav-links a {
    display: block;
    padding-block: 1rem;
    border-block: 2px solid white;
    background: rgba(255,255,255,0);
    transition: background 200ms;
}

body:where([data-javascript-enabled="true"]) .nav-links a:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.3);
}


body:where([data-javascript-enabled="true"]) .nav-links ul:where([aria-expanded="true"]) {
    clip-path: circle(150% at 100% 0%);
}