@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-VariableFont_wght.ttf) format(truetype);
    src: url(fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url(fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url(fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

a:not(.home-link):hover{
    text-decoration: underline;
}

.mods-selection input:hover {
    cursor: pointer;
}

.mods-selection input:checked {
    background: var(--bg-color);
}