html {
    --bg-color: #710000;

    --txt-main-color: #2DE100;
    --txt-secondary-color: #AF1900;
    --txt-accent-color: #FFE500;

    font-size: clamp(0.4rem, 1.6vw , 1rem)
}

.medium { margin-inline: auto; max-width: min(100vw - 4rem, 1100px); }
.wide { margin-inline: auto; max-width: min(100vw - 4rem, 1400px); }

body{
    margin: 0;
    font-family: Inter, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: clamp(20px, 3.5vw, 34px);
    margin-block: 0;
    letter-spacing: -1.75px;
    white-space: nowrap;
}

h2 {
    font-family: Oswald, Inter, sans-serif;
    font-size: clamp(30px,5vw,44px);
    /* font-size: 44px; */
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 {
    font-size: 20px;
}

main :is(p, a, li, figcaption) {
    font-size: 16px;
}

img {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

section > div {
    margin: 4rem auto;
}

section:not(:first-child) {
    margin-block: 5rem;
}

a {
    text-decoration: none;
}

.fake-button {
    display: inline-block;
    background-color: var(--bg-color);
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 6px;
}

header, footer {
    background-color: var(--bg-color);
}

header a, footer a {
    color: white;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.primary-navigation, .footer-navigation {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.footer-navigation {
    flex-wrap: wrap;
}

.icon-link, .footer-icon-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-block: 0.75rem;
}

.server-icon {
    max-height: clamp(30px, 5vw, 50px);
    aspect-ratio: 1;
}

.nav-links ul, .footer-links ul{
    font-size: 1rem;
    list-style-type: none;
    margin-block: 1rem;
    padding-left: 0;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.footer-navigation a, .footer-navigation p {
    font-size: clamp(9px, 2vw, 16px);
}

.hamburger {
    display: none;
    cursor: pointer;
    background-color: unset;
    border: 0;
}

.hero-title {
    color: white;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    text-align: center;
    font-family: Oswald, sans-serif;
    /* font-size: clamp(2.5rem, 8vw, 5.5rem); */
    font-size: 5.5rem;
    font-weight: bold;
    margin: 0;
    padding-block: 1.4em;
    background: url(images/Webp/FRT-Lobby-1920x1080.webp) center center no-repeat;
    background-size: cover;
}

.mods-intro {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.mods-intro h2 {
    margin-bottom: 0.8rem;
}

.mods-intro > :first-child {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 350px;
}

.mods-intro > :last-child {
    flex-shrink: 1;
    flex-grow: 1.5;
    flex-basis: 550px;
}

.mods-intro img {
    min-height: 100%;
    width: 100%;
    border-radius: 10px;
}

.mods-preview {
    text-align: center;
}

.mods-images {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,250px), 1fr));
    gap: 2rem;
}

.highlighted {
    color: var(--txt-secondary-color);
    text-align: center;
    font-size: clamp(20px,3vw,27px);
    font-weight: bold;
    margin-block: 3rem;
}

.legend {
    font-weight: bold;
}

.mods-selection {
    margin-block: 1.5rem;
}

.mods-selection input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgrey;
}

.server-infos {
    background: url(images/Webp/7DTD-Fighting-1920x1080.webp) center/cover no-repeat;
    padding-block: 6rem;
}

.server-infos > h2 {
    text-align: center;
    background: linear-gradient(90deg, transparent 5%, rgba(0,0,0,0.55), transparent 95%);
}

.infos {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.65);
    border-radius: 10px;
    padding: 3rem 3rem;
}

.infos hr {
    border: 2px solid var(--txt-accent-color);
    border-radius: 2px;
    margin-block: 3rem;
    margin-inline: 0;
}

.infos-title { 
    max-width: max-content;
    margin: 0 auto 3.5rem auto;
    padding: 0.3rem 4rem;

    color: var(--txt-accent-color);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: clamp(16px,3vw,24px);
    font-weight: bold;
    font-style: oblique 10deg;

    background:  radial-gradient(rgba(223, 190, 0, 0.247), rgba(0,0,0,0.2) 75%), rgb(105, 16, 0);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.server-infos ul {
    padding-left: 1rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.server-infos li:not(:first-child) {
    margin-top: 1rem;
}

.server-infos span {
    color: var(--txt-accent-color);
}

.staff-title {
    text-align: center;
}

.staff-members {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

.staff-members img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.staff-members figure {
    margin-inline: 2rem;
}

.staff-members figcaption {
    margin-top: 1.5rem;
}

.staff-members a {
    color: var(--txt-secondary-color);
    font-size: 20px;
    font-weight: 700;
}

.staff-responses {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.staff-responses > *:first-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 550px;
}

.staff-responses > *:last-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 800px;
}

.staff-responses > *:last-child img {
    min-width: 100%;
}

.staff-responses h3 {
    color: var(--txt-secondary-color);
}