/* Following lines are used in a media query. See "media" attribute in the "link" tag of the main HTML document */

/* @media (screen and (min-width: 850px)  */

.infos {
    display: flex;
    gap: 2rem;
}

.infos hr {
    margin-block: 0;
    margin-inline: 3rem;
}